{% extends "basic.html" %} 
{% block title %}Resume{% endblock title %}


{% block body %}
{% load static %}

<section id="resume" class="resume">
    <div class="container">
      <div class="section-title">
        <h2>Resume</h2>
        <p>
            I firmly believe in the philosophy of lifelong learning, constantly seeking enhance my skills and knowledge.</p>
      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Umesh Tamang</h4>
            <p>
              <b >Web Developer (Python with Django)</b>
            </p>
            <br>
            <ul>
              <li>Byasi,Bhaktapur</li>
              <li>9818110430</li>
              <li>umeshtamang129@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelors in Computer Application</h4>
            <p>Kathmandu College of Technology</p>
            <p>Currently in 5th semester</p>
          </div>
          <div class="resume-item">
            <h4>+2 Science stream</h4>
            <p>Khwopa Higher Secondary School</p>

          </div>

          <div class="resume-item">
            <h4>SEE</h4>
            <p>Basu Higher Secondary School</p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Experience</h3>
          <div class="resume-item">
            <h4>Python-Django Developer Trainee</h4>
            <h5>Sipalaya InfoTech pvt ltd</h5>
            <p>(3 months)</p>
            <br>
            <p>As a Part trainee over the company I've been influence of the CEO ER Himal Rawal and my mentor Suman Tamang.It has been a great experienceof learning the company and team.</p>
          </div>
          <div class="resume-item">
            <h4>Skills</h4>
            <ul>
              <li>
               Python
              </li>

              <li>
               Django
              </li>

              <li>
                MySQL
              </li>
              <li>
                HTML
              </li>

              <li>
                CSS
              </li>

              <li>
                JavaScript
              </li>


            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock body %}


